<div class="ui basic modal tdelete">
    <div class="ui icon header">
        <i class="archive icon"></i>
        本当に削除しますか？
    </div>
    <div class="content">
        <p>一度削除したテンプレートは復元できません．</p>
    </div>
    <div class="actions">
        <a class="ui red basic cancel inverted button" id="delete-cancel-button">
            <i class="remove icon"></i>
            No
        </a>
        <a class="ui green ok inverted button" id="confirm_delete">
            <i class="checkmark icon"></i>
            Yes
        </a>
    </div>
</div>
